<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
    <form method="post"></br>
        <input type="hidden" name="_method" value="put">
        lastname:<input type="text" name="lastName" th:value="${emp.lastName}"></br>
        email:<input type="text" name="email" th:value="${emp.email}"></br>
        <!-- th:field 自动选中gender的属性       -->
        gender:<input type="radio" name="gender" value="1" th:field="${emp.gender}">male
        <input type="radio" name="gender" value="0" th:field="${emp.gender}">female</br>
        <input type="submit" value="update"></br>
    </form>
</body>
</html>