<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ReqParams Index</title>
</head>
<body>
    <h1>Welcome to ReqParams Index</h1>
    <a th:href="@{/servletApiTest1('username'='admin','password'=123456)}">通过ServletAPI获取参数</a>

    <form th:action="@{/controllerParams1}" method="post">
        <label>通过控制器方法的形参获取请求参数</label></br>
        username:<input type="text" name="username"></br>
        password:<input type="password" name="password"></br>
        hobby:<input type="checkbox" name="hobby" value="a">a
            <input type="checkbox" name="hobby" value="a">b
            <input type="checkbox" name="hobby" value="a">c</br>
        <input type="submit" value="submit">
    </form>

    <form th:action="@{/requestParamTest1}" method="post">
        <label>请求参数和形参的映射器</label></br>
        username:<input type="text" name="username"></br>
        password:<input type="password" name="pwd"></br>
        hobby:<input type="checkbox" name="hobby" value="a">a
        <input type="checkbox" name="hobby" value="a">b
        <input type="checkbox" name="hobby" value="a">c</br>
        <input type="submit" value="submit">
    </form>

    <a th:href="@{/reqHeaderTest1}">头部和形参映的射器</a></br>

    <a th:href="@{/reqCookie1}">请求cookie</a></br>

    <form th:action="@{/pojotest1}" method="post">
        <label>通过POJO请求参数</label></br>
        username:<input type="text" name="username"></br>
        password:<input type="password" name="password"></br>
        age:<input type="text" name="age"></br>
        sex:<input type="checkbox" name="sex" value="man">man
        <input type="checkbox" name="hobby" value="women">women
        <input type="submit" value="submit">
    </form></br>
</body>
</html>